{% extends 'base.html' %}

{% block contents %}
{% load staticfiles %}

  <main role="main" class="inner cover">
    <br>
    <h1 class="cover-heading">Ez-Rename</h1><br>
    <p class="lead">Small things change everything.<br>There's many small things in life. Name is one of them. <br>Someone may think it's trivial but it affects whole life-time. <br>Rename means starting a new life, new step to the future. <br>Your life, your time is beyond measure. <Br>Don't waste your time and mind to annoying 'Renaming-procedure'. <br>Using our services will makes you better life! </p>
    <p class="lead">
      <a href="{% url 'about' %}" class="btn btn-lg btn-secondary">자세히</a>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <br>
      <p>Powered by <a>Minsung</a><br> <a>All rights reserved</a></p>
    </div>
  </footer>
</div>
</body>
{% endblock %}
</html>